<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_diary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_diary">
        <activity
            android:name=".PageFood"
            android:exported="false" />
        <activity
            android:name=".Nav_habit"
            android:exported="false" />
        <activity
            android:name=".Nav_Workout"
            android:exported="false" />
        <activity
            android:name=".Nav_Pitanie"
            android:exported="false" />
        <activity
            android:name=".Nav_Norma"
            android:exported="false" />
        <activity
            android:name=".Nav_Stat"
            android:exported="false" />
        <activity
            android:name=".PageCreate"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPosition"
            android:exported="false" />
        <activity
            android:name=".Create_H_W"
            android:exported="false" />
        <activity
            android:name=".CreateMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>